@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixin.scss' as mixin;
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;

  @include mixin.phone500px {
    padding: 2rem 1rem;
    gap: 2rem;
  }
  h2 {
    color: colors.$squirrel;
    text-align: center;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 70%;
  @include mixin.pc1020px {
    width: 85%;
  }
  @include mixin.phone500px {
    width: 100%;
  }
}
.stageBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: 350px;
  height: auto;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid colors.$squirrel;
  @include mixin.phone700px {
    height: fit-content;
    gap: 0.5rem;
  }
  h3 {
    color: colors.$squirrel;
  }
  p {
    font-size: 16px;
    @include mixin.phone500px {
      font-size: 0.7rem;
      line-height: 1.2rem;
    }
  }
  .number {
    font-size: 3rem;
    color: colors.$squirrel;
    font-weight: 600;
  }
  .topBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}
