@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 2px solid colors.$squirrel;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  a {
    font-size: 1.2rem;
    @include mixin.pc1000px {
      font-size: 1rem;
    }
    @include mixin.phone500px {
      font-size: 0.7rem;
    }
  }
}
.title {
  color: colors.$squirrel;
  border-bottom: 2px solid colors.$squirrel;
  text-align: center;
  padding: 1rem;
  width: 90%;
  font-family: 'Poppins-500';
}
