@use '../../../../styles/mixin.scss' as mixin;
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    @include mixin.phone700px {
    padding: 1.5rem 1rem;
  }
  .box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 70%;
     @include mixin.pc1020px {
    width: 85%;
  }
   @include mixin.phone500px {
    width: 100%;
  }
  }
}