@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/colors.scss' as colors;
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    @include mixin.phone700px {
    padding: 1.5rem 1rem;
  }
}
.rowBox{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.serviceBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  gap: 0.5rem;
  border: 1px solid colors.$squirrel;
  border-radius: 5px;
  @include mixin.phone500px {
    width: 100%;
  }
  p {
    font-size: 16px;
    @include mixin.phone500px {
      font-size: 0.7rem;
    }
  }
  img {
    width: 24px;
    height: 24px;
  }
}
.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  @include mixin.pc1020px {
    display: none;
  }
  img {
    width: 50%;
  }
}