@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixin.scss' as mixin;
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: auto;
  gap: 1.5rem;
  @include mixin.phone500px {
    width: 300px;
  }
  p {
    color: colors.$squirrel;
    text-align: center;
    @include mixin.phone500px {
      font-size: 1rem;
    }
  }
}
.headerBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    color: colors.$squirrel;
  }
}
.bottomBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.image {
  width: 400px;
  height: auto;
  @include mixin.phone500px {
    width: 80%;
  }
}
.logo {
  max-height: 70px;
  width: auto;
  @include mixin.phone500px {
    max-height: 50px;
  }
}
