@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
.number {
  @include mixin.pc1000px {
    display: none;
  }
}
.filterWebsite {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Poppins-400';
  font-weight: 400;
  transition: all 0.5s;
  @include mixin.pc1000px {
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
  h2 {
    font-family: 'Poppins-400';
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 2px solid colors.$squirrel;
    transition: all 0.2s;
    @include mixin.pc1250px {
      font-size: 1.2rem;
    }
    @include mixin.pc1000px {
      font-size: 1rem;
    }
    @include mixin.phone500px {
      font-size: 0.7rem;
      font-family: 'Poppins-400';
    }
  }
}
.filterWebsiteActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Poppins-700';
  color: colors.$squirrel;
  transition: all 0.5s;
  @include mixin.pc1000px {
    font-size: 1.3rem;
  }
  &:hover {
    cursor: pointer;
  }
  h2 {
    font-size: 2.2rem;
    font-family: 'Poppins-700';
    border-bottom: 2px solid colors.$squirrel;
    width: 100%;
    transition: all 0.2s;
    @include mixin.pc1250px {
      font-size: 1.5rem;
    }
    @include mixin.pc1000px {
      font-size: 1.3rem;
    }
    @include mixin.phone500px {
      font-size: 1rem;
    }
  }
}
.filterGraphic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Poppins-400';
  font-weight: 400;
  transition: all 0.5s;
  @include mixin.pc1000px {
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;
  }
  h2 {
    font-family: 'Poppins-400';
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 2px solid colors.$blue;
    transition: all 0.2s;
    @include mixin.pc1250px {
      font-size: 1.2rem;
    }
    @include mixin.pc1000px {
      font-size: 1rem;
    }
    @include mixin.phone500px {
      font-size: 0.7rem;
      font-family: 'Poppins-400';
    }
  }
}
.filterGraphicActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Poppins-700';
  color: colors.$blue;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
  }
  h2 {
    font-size: 2.2rem;
    font-family: 'Poppins-700';
    border-bottom: 2px solid colors.$blue;
    width: 100%;
    transition: all 0.2s;
    @include mixin.pc1250px {
      font-size: 1.5rem;
    }
    @include mixin.pc1000px {
      font-size: 1.3rem;
    }
    @include mixin.phone500px {
      font-size: 1rem;
    }
  }
}
