@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  @include mixin.phone500px {
    padding: 2rem;
  }
  h2 {
    font-size: 2rem;
    color: colors.$squirrel;
    padding-bottom: 5rem;
    @include mixin.phone800px {
      font-size: 2rem;
      padding-bottom: 2rem;
      text-align: center;
    }
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  @include mixin.pc1000px {
    flex-direction: column;
  }
}
.stepBox {
  box-sizing: border-box;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 3px solid colors.$squirrel;
  max-width: 300px;
  width: fit-content;
  text-align: center;
  gap: 1rem;
  @include mixin.pc1000px {
    height: auto;
    max-width: none;
    width: 80%;
  }
  @include mixin.phone500px {
    width: 100%;
  }
  h3 {
    font-size: 1.3rem;
    color: colors.$squirrel;
  }
  p {
    font-size: 1rem;
    @include mixin.phone500px {
      font-size: 0.7rem;
    }
  }
}
.icon {
  width: 100px;
  height: 100px;
  @include mixin.pc1000px {
    transform: rotate(90deg);
  }
  @include mixin.phone500px {
    width: 75px;
    height: 75px;
  }
}
