@use 'colors.scss' as colors;
@import 'fonts.scss';

html {
  font-family: 'RobotoFlex Inter-VariableFont_opsz', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$dark;
  color: colors.$white;
  font-size: 16px;
}
body {
  box-sizing: border-box;
  margin: 0px;
  font-size: 16px;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-family: 'Poppins-700';
}
h2 {
  font-size: 28px;
  font-family: 'Poppins-700';
}
h3 {
  font-size: 24px;
  font-family: 'Poppins-600';
}
h4 {
  font-size: 20px;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 1.4rem;
}
