@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/colors.scss' as colors;
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
     padding: 3rem;
  @include mixin.phone700px {
    padding: 1.5rem 1rem;
  }
}